<h3>{{name}}</h3>

<table class="table table-inverse table-responsive">
    <thead class="thead-default">
        <tr>
            <th>Company</th>
            <th>Contact</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody style="font-size: xx-large">
        <tr *ngFor="let data of datas">
            <td>{{data.company}}</td>
            <td>{{data.contact}}</td>
            <td>{{data.country}}</td>
        </tr>
    </tbody>
</table>