<div id="reveal" class="reveal">
  <div class="slides">
    <section>
      <h2>Slide Show</h2>
      <h3>A Simple Wall-Display Application using Angular & Revealjs </h3>
    </section>
  </div>
</div>