<div class="row">
  <div class="col-12">
    <div [class]="'box col-sm-' + layout.col_size" *ngFor="let layout of components">
      <div appComponentRenderer [element]="layout.component" *ngIf="!layout.template; else template" [class]="layout.view === 'chart' ? '' : 'layout'">
      </div>
      <ng-template #template class="component-template">
        <div class="layout">
          <h3>{{layout.component.title}}</h3>
          <div [innerHTML]="layout.component.template"></div>
        </div>
      </ng-template>
    </div>
  </div>
</div>