<h3>{{name}}</h3>

<div class="row ">
  <div class="col-12">
    <div class="col-sm-4" *ngFor="let data of randomData" style="border:1px solid grey">
      <div class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h5 class="card-title">Name - {{data.name}}</h5>
          <h6 class="card-subtitle text-muted">Year - {{data.year}}</h6>
          <h6 class="card-subtitle text-muted">Color -
            <span [style.background-color]="data.color">Data Color</span>
          </h6>
          <h6 class="card-subtitle text-muted">pantone_value - {{data.pantone_value}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>