<h3>{{name}}</h3>

<div class="row ">
  <div class="col-12">
    <div class="col-sm-4" *ngFor="let user of users">
      <div class="card text-white bg-dark mb-3">
        <div class="card-body">
          <img [src]="user.avatar" [alt]="user.first_name + user.last_name" width="90" height="90">
          <h5 class="card-title">{{user.first_name}}</h5>
          <h6 class="card-subtitle text-muted">LastName - {{user.last_name}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>