.reveal {
  font-size: 16px !important;
}

.card {
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-right: 10px;
  margin-bottom: 10px;
}

.card .card-body {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  padding: 1rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.text-muted {
  color: #868e96 !important;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.card-body p {
  font-size: 2rem;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}
