<h3> {{name}}</h3>
<div class="chart">
  <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="data" [legend]="showLegend" [explodeSlices]="explodeSlices"
    [labels]="showLabels" [doughnut]="doughnut" (select)="onSelect($event)">
  </ngx-charts-pie-chart>
  <!-- <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="data" [legend]="showLegend" [gradient]="gradient"
    [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [autoScale]="autoScale" (select)="onSelect($event) "></ngx-charts-line-chart> -->
</div>